*{
	margin: 0;
	padding: 0;
 }

body{
 	background-color: #EF7800;
 	font-family: arial;
 	font-size: 100% ;
 }

.header{	
	display: flex;
 	height: 80px;
 	background-color:#053CA0;
 	width: 100%;
 	color: #ffffff;
 }
.menu{
	margin-top: 5px;
	width: 80px;
}

#menuzi{
 	opacity: 0;
 }

label{
 	cursor: pointer;
 	position: relative;
 	display: block;
 	height: 32px;
 	width: 40px;
 	margin-left: 15px;
 	margin-top: 3px;
 }

label span{
 	position: absolute;
 	display: block;
 	height: 8px;
 	width: 100%;
 	border-radius: 30px;
 	background-color: #EF7800;
 	transition: 0.25s ease-in-out;
 }

 label span:nth-child(1){
 	top:0px;
 }
  label span:nth-child(2){
 	top:12px;
 }
  label span:nth-child(3){
 	top:24px;
 }

 #menuzi:checked + label span:nth-child(1){
 	transform: rotate(-45deg);
 	top: 14px;
 } 

 #menuzi:checked + label span:nth-child(2){
 	opacity: 0;
 } 

 #menuzi:checked + label span:nth-child(3){
 	transform: rotate(45deg);
 	top: 14px;
 } 


 input[type="checkbox"]:checked ~ nav
 {
 	transform: translateX(250px);
 }

 nav{
	margin-top: 27px;
	position: relative;
	height: 260px;
	width: 250px;
	background-color: #053CA0;
	border-bottom-right-radius:5px;
	border-bottom-left-radius: 5px;
	margin-left: -250px;
	z-index: 1;
}

nav a{
	padding: 24px 25px;
	display: block;
	color: white;
	text-decoration: none;
}

nav a:hover{
	background-color:#EF7801;
	color: black; 
}

ul{
	list-style: none;
	position: absolute;
	width: 100%
}

.ultimaopcao a{
	border-bottom-right-radius:5px; 
}

.logo{
	width: 33.33%;
}

.logo h1{
	padding-top: 20px;
}

.pagina{
	width: 33.33%;
	text-align: center;
}

.pagina h2{
	padding-top: 25px;
	padding-right: 95px;
}

.infousuario{
	width: 33.33%;
	float: right;
	text-align: center;
}

.infousuario p{
	float: right;
	padding-top: 30px;
	padding-right: 15px;
}

#controles{
	z-index: 1;
	width: 110px;
	height: 240px;
	background-color: white;
	position: fixed;
	border-bottom-right-radius: 20px;
	border-top-right-radius:20px;
	margin-top:150px;
	border:solid 1px;
}

#controles button{
	height:50px;
	width:100px;
	margin-left:5px;
	margin-top: 10px;
	cursor: pointer;
	border: solid 1px;
	border-radius: 10px;
}

#btnsalvar{
	height:50px;
	width:100px;
	margin-left:5px;
	margin-top: 10px;
	cursor: pointer;
	border: solid 1px;
	border-radius: 10px;
}

#controles button:hover{
	background-color: #053CA0;
	color:#ffffff;
	border: solid 1px;
}

#organainfo{
	width: 1070px;
	height: 80px;
	margin-left: 140px;
	text-align: center;
	padding-top: 10px;
}

#infoatividade input{
	height: 30px;
	border:none;
	font-size: 10pt;
	padding: 10px 20px;
	outline: none;
	margin:5px;
}

#conteiner{
	margin-top: 10px;
	margin-left: 140px;
	position: absolute;
	height: 650px;
	width: 1070px;
	background-color: white;
}

.questãoalternativa{
	margin-top: 10px;
	position: relative;
	width: 1000px;
	margin-left: 35px;
	height:250px;
	border-bottom: solid 1px;
	float: left;
	padding-bottom: 10px;
}

.addopção{
	margin-left: 10px;
	margin-top: 5px;
}

.excluirpergunta{
	float: right;
	width: 50px;
	height: 50px;
	border-radius: 40px;
}
.enunciado{
	margin-left: 10px;
	width: 800px;
	height: 50px;
	resize: none;
}
.alternativa{
	margin-top: 10px;
}

.excluiropção{
	float: left;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	margin-left: 100px;
}
.alternativa{
	display: flex;
}

.questãodissertativa{
	margin-top: 10px;
	position: relative;
	width: 1000px;
	margin-left: 35px;
	height: 250px;
	border-bottom: solid 1px;
	float: left;
	padding-bottom: 10px;
}

.resposta{
	margin-left: 10px;
	width: 800px;
	height: 50px;
	resize: none;
}