*{
	margin: 0;
	padding: 0;
 }

body{
 	background-color: #EF7800;
 	font-family: arial;
 	font-size: 100% ;
 }

.header{	
	display: flex;
 	height: 80px;
 	background-color:#053CA0;
 	width: 100%;
 	color: #ffffff;
 }
.menu{
	margin-top: 5px;
	width: 80px;
}

#menuzi{
 	opacity: 0;
 }

label{
 	cursor: pointer;
 	position: relative;
 	display: block;
 	height: 32px;
 	width: 40px;
 	margin-left: 15px;
 	margin-top: 3px;
 }

label span{
 	position: absolute;
 	display: block;
 	height: 8px;
 	width: 100%;
 	border-radius: 30px;
 	background-color: #EF7800;
 	transition: 0.25s ease-in-out;
 }

 label span:nth-child(1){
 	top:0px;
 }
  label span:nth-child(2){
 	top:12px;
 }
  label span:nth-child(3){
 	top:24px;
 }

 #menuzi:checked + label span:nth-child(1){
 	transform: rotate(-45deg);
 	top: 14px;
 } 

 #menuzi:checked + label span:nth-child(2){
 	opacity: 0;
 } 

 #menuzi:checked + label span:nth-child(3){
 	transform: rotate(45deg);
 	top: 14px;
 } 


 input[type="checkbox"]:checked ~ nav
 {
 	transform: translateX(250px);
 }

 nav{
	margin-top: 27px;
	position: relative;
	height: 260px;
	width: 250px;
	background-color: #053CA0;
	border-bottom-right-radius:5px;
	border-bottom-left-radius: 5px;
	margin-left: -250px;
	z-index: 1;
}

nav a{
	padding: 24px 25px;
	display: block;
	color: white;
	text-decoration: none;
}

nav a:hover{
	background-color:#EF7801;
	color: black; 
}

ul{
	list-style: none;
	position: absolute;
	width: 100%
}

.ultimaopcao a{
	border-bottom-right-radius:5px; 
}

.logo{
	width: 33.33%;
}

.logo h1{
	padding-top: 20px;
}

.pagina{
	width: 33.33%;
	text-align: center;
}

.pagina h2{
	padding-top: 25px;
	padding-right: 95px;
}

.infousuario{
	width: 33.33%;
	float: right;
	text-align: center;
}

.infousuario p{
	float: right;
	padding-top: 30px;
	padding-right: 15px;
}

.barraescolha{
	position: relative;
	margin:0 auto;
	width: 50%;
	height: 40px;
	margin-top: 20px;
	display: flex;
}



.interiora{
	margin-top: 10px;
	width: 100%;
	position: absolute;

}

#aop1{
	position: relative;
	text-align: justify;
	border:none;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: black;
	border-bottom: solid 1px;
}
#aop2{
	position: relative;
	text-align: justify;
	border-bottom: solid 1px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: black;
}

#aop3{
	position: relative;
	text-align: justify;
	border-bottom: solid 1px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: black;
	background-color: #053CA0;
	color: #ffffff;
	border-color: black;

}

#barraescolha a:hover{
	background-color: #053CA0;
	color: #ffffff;
	border:none;
}
#container{
	margin-top: 30px;
	margin-left: 140px;
	position: absolute;
	min-height: 460px;
	width: 1070px;
	background-color: white;
}
.resposta{
	margin-left: 10px;
	width: 800px;
	height: 50px;
	resize: none;
}
#button{
	float: right;
	margin-top: 90px;
	width: 150px;
	height: 50px;
}
.exercicio2{
	margin-top: 15px;
}
.alternativa{
	margin-top: 10px;
}
.alternativa:last-child{
	margin-bottom: 10px;
}
